.Details {
    &Main {
        &Image {
            &Lg {
                max-width: 30rem;
                height: 25rem;
            }
            &Sm {
                width: 17rem;
                height: 17rem;
            }
        }
    }
}
.img
{
    &Back
    {
        height: 12rem;
    }
    &Post
    {
        height: 10rem;
    }
    &typo
    {
        height: 6rem;
    }
}