.Details {
    &Main {
        &Image {
            &Lg {
                width: 21rem;
                height: 21rem;
            }
            &Sm {
                width: 17rem;
                height: 17rem;
            }
        }
    }
}